 <div class="container">
        <form class="form-horizontal">
        <div [hidden]="showImageUpload">
            <div class="row" style="margin-top:30px">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                 
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <div class="form-group has-danger">
                        <label class="sr-only" for="email">E-Mail Address</label>
                        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                            <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-at"></i></div>
                            <input type="text" name="email" class="form-control" id="email"
                                   placeholder="you@example.com" required autofocus [(ngModel)]="user.email">
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="sr-only" for="password">Password</label>
                        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                            <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-key"></i></div>
                            <input type="password" name="password" class="form-control" id="password"
                                   placeholder="Password" required [(ngModel)]="user.password">
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-control-feedback">
                        <span class="text-danger align-middle">
                        <!-- Put password error message here -->    
                        </span>
                    </div>
                </div>

            </div>
            <div class="row" style="padding-top: 1rem">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <button type="button" class="btn btn-success" (click)="login()"><i class="fa fa-sign-in"></i> Login</button>
                      <a type="submit" class="btn btn-success" href="#/register"> Register</a>
                 
                </div>
            </div>
            </div>
             <div [hidden]="!showImageUpload">
              <div class="row">
                <div class="col-md-3 field-label-responsive">
                    <label for="password">upload 2Factor</label>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                    <label class="control-label col-sm-2" for="email">Images</label>
                    <div class="col-sm-6">
                      <input type="file" accept="image/*" #fileInput class="form-control" id="images" placeholder="Title" multiple  name="images"  
                       #fileInput>
                    </div>
                  </div>    
                </div>
            </div>
              
             <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <button type="button" class="btn btn-success" (click)="verifyImage()"><i class="fa fa-user-plus" ></i> Upload Picture</button>
                </div>
            </div>
        </div>
          
        </form>
            
    </div>